
#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'mn mn mn mn'
    'ft ft ft ft';
}
.center {
    padding: 10px 0;
    padding-right: 200px;
    text-align: right;
}
.header_text {
    padding: 10px 0;
    padding-right: 200px;
    text-align: right;
    word-spacing: 60px;
  }
  header {
    grid-area: hd;
    background: grey;
    height: 10vh;
    color: white;
    text-align: center;
    border: 1px solid #000000;
}
main {
    grid-area: mn;
    background: #FFD700;
    height:80vh
}
footer {
    grid-area: ft;
    background: grey;
    height: 10vh;
    color: white;
    border: 1px solid #000000;
}


 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 40px;
    height: 664px;
    width: 1500px;
 }
  
 .card {
     flex: 0 1 20%;
     height: auto;
     width: auto;
     border: 1px solid #000000;
     background-color: orange;
     text-align: center;
 }
 
 .logga {
    text-align: left;
    position: absolute;
    top: 1.7%;
    left: 15%;
    font-size: 1.5rem;
    font-weight: bold;
 }