#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'mn mn mn mn'
    'ft ft ft ft';
}
#cat_glass {
    float: left;
    width:42px;
    height:42px
    
}
.center {
    padding: 10px 0;
    padding-right: 200px;
    text-align: right;
}

header {
    grid-area: hd;
    background: grey;
    height: 10vh;
    color: white;
    text-align: center;
    border: 1px solid #000000;
}
main {
    grid-area: mn;
    background: #FFD700;
    height:80vh
}
footer {
    grid-area: ft;
    background: grey;
    height: 10vh;
    color: white;
    border: 1px solid #000000;
}
.header_text {
    padding: 10px 0;
    padding-right: 200px;
    text-align: right;
    word-spacing: 60px;
  }

  #Shiba{
    height: 100%;
    width: 1920px;
}

.img_container {
    position: relative;
    text-align: center;
    color: white;
  }

  .main_text {
    position: absolute;
    top:30%;
    left: 5%;
    font-size: 20px;
    color: #000000;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000000;
  background: #000000 ;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 47%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.logga {
  text-align: left;
  position: absolute;
  top: 1.7%;
  left: 15%;
  font-size: 1.5rem;
  font-weight: bold;
}